# Streamlit 대시보드 웹 구동을 위한 핵심 프레임워크
streamlit>=1.30.0

# 데이터 로드, 정제(Melt, Groupby) 및 전처리를 위한 라이브러리
pandas>=2.0.0

# 유사도 계산(MSE) 및 통계 수치 연산을 위한 라이브러리
numpy>=1.24.0

# 상시 데이터 레이블(text_auto) 및 다색(Multi-color) 차트 시각화를 위한 라이브러리
plotly>=5.15.0
folium
streamlit-folium
